
/* CSS Reset start */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS Reset finish */


.navbar {

    border-bottom: 1px solid grey;
    margin: 0px -5px 50px -5px;
    padding-top: 10px;
    /*background-color: rgb(92, 64, 51, 0.7);*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.nav-link {

    display: inline-block;
    padding: 12px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;

}

.panel {

    border-bottom: 2px solid grey;
    padding: 10px 30px 30px 30px;
    overflow: hidden;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    margin: 5%;
    margin-left: 7%;
}

.card:hover {

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}


.container {

    padding: 2px 16px;

}

.logo-list {

    list-style: none;
    color: white;
}


.heading-theme {

    margin: 20px 0px 10px 20px;
    font-size: 35px;
    font-family: monospace;
    font-weight: 400;
    color: Black;
}

.card-text h4 {

    margin: 20px 0px 10px 20px;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(100, 50, 40);
}

.card-text p {

    margin: 20px 0px 10px 20px;
    font-size: 20px;
    font-family: monospace;
    color: black;

}

.centralize {

    text-align: center;
}

.right {

    float: right;
}

.left {

    float: left;
}

.grey {

    color: grey;
}

.slategrey {

    color: slategrey;
}

.midnightblue {

    color: midnightblue;
}

.theme-background-color {

    background-color: rgba(100, 50, 40, 0.7);
}

.theme-color {

    color: rgb(100, 50, 40);
}



#nav-name {

    display: inline-block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 300px;
    font-size: 40px;
    font-family: monospace;
    margin-left: 10%;
    text-decoration: none;
    color: white;

}

#title-panel {

    text-align: center;
    padding: 340px 30%;
    background: url('../img/tri-quad.png');
    background-repeat: no-repeat;
    background-size: cover;

}

#title-text {

    font-size: 40px;
    font-family: monospace;
    color: Black;
    padding: 7px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.7);;
}
