/* CSS Reset start */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset finish */
svg {
  height: 30px;
}
rect {
  fill: #81002f;
  stroke-width: 3;
  stroke: #81002f;
}
nav {
  padding: 100px 10px 0px 00px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3vw;
}
a {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.3vw;
  color: #81002f;
  padding: 0px 10px 0px 0px;
}
code {
  font-size: 9px;
  color: #81002f;
}
.title-panel {
  width: 900px !important;
  height: 360px !important;
  text-align: left;
  padding: 90px 0px 100px 100px;
  border: #81002f 2px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.title-panel:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.flipper {
  width: 1000px;
  height: 550px;
  margin: 75px 15%;
  transition: 0.3s;
}
.back {
  transform: rotateY(-180deg);
  display: block;
}
.btn {
  border: 2px solid #81002f;
  border-radius: 10%;
  color: #81002f;
  padding: 1px 3px;
  /* Some padding */
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  /* Mouse pointer on hover */
}
.btn:hover {
  background-color: #81002f;
  color: white;
  transition: 0.3s ease;
}
.heading-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  color: black;
}
.body-text {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 15px 100px 0px 5px;
  line-height: 1.1;
}
.contacts-table {
  margin: 17px 0px 0px 2px;
}
.contacts-table td {
  vertical-align: middle;
}
.contacts-table p {
  font-size: 14px;
  font-family: 'Cutive Mono', monospace;
}
#name-style {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bolder;
  font-size: 100px;
  margin: 0% 0% 1% 0%;
  color: #000000;
}
#interested-text {
  width: 440px;
  padding: 3px 0px 0px 0px;
  font-size: 2.8vw;
  font-family: 'Cutive Mono', monospace;
  color: #000000;
  float: left;
}
#title-text {
  display: inline;
  text-align: left;
  font-size: 2.8vw;
  font-family: 'Cutive Mono', monospace;
  color: #81002f;
  font-weight: bold;
}
#home-button {
  text-align: center;
  margin: 50px 100px 0px 0px;
}
#contact-list {
  padding: 25px 0px 0px 0px;
  display: block;
}
#detailed-contact {
  display: none;
}
#header-photo {
  width: 150px;
  border-radius: 20%;
  border: 1px solid #81002f;
  margin-right: 20px;
  float: left;
}
#curl-easter-egg {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.typed-cursor {
  font-size: 2.8vw;
  opacity: 0.9;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
